.coweather {
  height: 33px;
  font-family: 'Bebas Neue', cursive;
  color: white;
  font-size: 25px;
  margin: 0px auto;
}

.probando {
  min-height: 100%;
  max-height: 100%;
}

.navbar {
  display: flex;
  justify-content: center;
  animation-name: Nav;
  animation-duration: 0.5s;
}

@keyframes Nav {
  0% {opacity: 50%;}
  100% {opacity: 100%;} 
}